@model List<Pigeon.Data.Product>
@{
    ViewData["Title"] = "ProductList";
}
<style>
    .product {
        display: flex;
    }

    .product-item {
        border: 1px solid grey;
        padding: 0.8rem;
    }

    .product-name {
        width: 25%
    }
    
    .product-description {
        width: 50%;
    }
    .product-count {
        width: 65px;
    }
    .product-count > input {
        width: 100%;
    }
    .fa-shopping-cart:hover {
        cursor: pointer;
    }
</style>

<div class="text-center">
    <h5 class="display-6">@ViewBag.Category</h5>
</div>

@foreach (var product in Model)
{
<div class="product">
    <div class="product-item product-name">@product.Name</div>
    <div class="product-item product-description">@product.Description</div>
    <div class="product-item">@product.Price zł</div>
    <div class="product-item product-count"><input name="product-count_@product.ProductId"/></div>
    <div class="product-item">
        <i data-productId="@product.ProductId" class="fa fa-shopping-cart clickableCart"></i>
    </div>
</div>
}

<script>
    $('.clickableCart').click((e) => {
        var productId = e.target.dataset.productid;
        var count = $(`input[name=product-count_${productId}]`).val();
        var dataToSend = { 
            productId: productId,
            count: count
        }
        var jsonText = JSON.stringify(dataToSend);
        
        $.ajax({
            type: 'POST',
            url: '/shoppingCard/addToCard',
            headers: { 
                'Accept': 'application/json',
                'Content-Type': 'application/json' 
            },
            dataType: 'json',
            data: jsonText,
            success: (e) => {
                $('#mainShoppingCardIcon')[0].innerHTML = e;
            }
        });
    })
</script>